<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.examen1b">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".GestionarMedicamento">
        </activity>
        <activity android:name=".Prueba">
        </activity>
        <activity android:name=".CrearMedicamento">
        </activity>
        <activity android:name=".ListaMedicamentos">
        </activity>
        <activity android:name=".DatosPaciente">
        </activity>
        <activity android:name=".ListaPacientes">
        </activity>
        <activity android:name=".CrearPaciente">
        </activity>
        <activity
                android:name=".Pacientes"
                android:label="@string/title_activity_pacientes"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".GestionPacientes">
        </activity>
        <activity
                android:name=".Gestion"
                android:label="@string/title_activity_gestion"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".GEstion">
        </activity>
        <activity android:name=".gestion">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>