<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.appzapatos">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".modulo_zapatos.CrearZapato">
        </activity>
        <activity android:name=".modulo_compras.CrearCompra">
        </activity>
        <activity android:name=".modulo_compras.ActualizarCompra">
        </activity>
        <activity android:name=".modulo_compras.ListaCompras">
        </activity>
        <activity android:name=".modulo_zapatos.ActualizarZapato">
        </activity>
        <activity android:name=".modulo_zapatos.Main2Activity">
        </activity>
        <activity android:name=".modulo_zapatos.Prueba">
        </activity>
        <activity android:name=".modulo_clientes.Prueba">
        </activity>
        <activity android:name=".modulo_clientes.ActualizarCliente">
        </activity>
        <activity android:name=".modulo_clientes.CrearCliente">
        </activity>
        <activity android:name=".modulo_zapatos.ListaZapatos">
        </activity>
        <activity android:name=".modulo_clientes.ListaClientes">
        </activity>
        <activity android:name=".modulo_compras.MenuCompras">
        </activity>
        <activity android:name=".modulo_clientes.MenuClientes">
        </activity>
        <activity android:name=".modulo_zapatos.MenuZapatos">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>