<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.examen2b">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".actividades.Gestion">
        </activity>
        <activity android:name=".actividades.ActualizarMedicamento">
        </activity>
        <activity android:name=".actividades.ActualizarPaciente">
        </activity>
        <activity android:name=".actividades.CrearMedicamento">
        </activity>
        <activity android:name=".actividades.CrearPaciente">
        </activity>
        <activity android:name=".actividades.ListaMedicamentos">
        </activity>
        <activity android:name=".actividades.ListaPacientes">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>